[project]
	description = Jenkins clearcase plugin
[access "refs/*"]
	owner = group user/Andre Bossert (anb0s)
[access "refs/for/refs/*"]
	read = group user/Andre Bossert (anb0s)
	push = group user/Andre Bossert (anb0s)
	label-Code-Review = -2..+2 group user/Andre Bossert (anb0s)
	label-Verified = -1..+1 group user/Andre Bossert (anb0s)
	rebase = group user/Andre Bossert (anb0s)
	removeReviewer = group user/Andre Bossert (anb0s)
	submit = group user/Andre Bossert (anb0s)
[access "refs/heads/*"]
	read = group user/Andre Bossert (anb0s)
	create = group user/Andre Bossert (anb0s)
	push = +force group user/Andre Bossert (anb0s)
	pushMerge = group user/Andre Bossert (anb0s)
[access "refs/tags/*"]
	push = +force group user/Andre Bossert (anb0s)
	pushTag = group user/Andre Bossert (anb0s)
	pushSignedTag = group user/Andre Bossert (anb0s)
